<%= render 'layouts/errors', :object => @list %>
<div id="new_task_form">
  <%= simple_form_for(@list) do |f| %>
    <!-- <div class="form-group"> -->
      <!-- <%= f.label :name %> -->
      <%= f.input_field :name %>
    <!-- </div> --
    <!-- <p><%= f.submit :class => "btn btn-primary" %></p> -->
      <%= f.button :submit %>
  <% end %>
</div>
