<% content_for(:title, "Home | To Do") %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Add list", new_list_path, :class=> "btn btn-default" %>

<%= line_chart Task.group_by_day(:created_at).count %>

<div id="modal" class="modal" style="display: none; ">
  <p>
    Hey hey hey check me out, I'm a modal with a pie chart!  Woot!
    <%= pie_chart Task.group(:list_id).count %>
  </p>
</div>

<%=  link_to_modal "Modal", "#modal", :class=>"button" %>
<%=  link_to_modal "New list", new_list_path, :class => "btn btn-default" %>
